<!--<div class="contents" >-->
<!--  <div class="main-contents">-->
<!--      % @blogs.each do |blog| %>-->
<!--             <div class="article"> -->
<!--                <div class="article-text">-->
<!--                    %= simple_format(blog.title) %>-->
<!--                    %= simple_format(blog.text) %>-->
<!--                   <h3>いいね件数: %= blog.likes.count %></h3>-->
<!--                    %= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %>-->
                   
<!--                </div>-->
<!--             </div>-->
<!--      % end %>-->
       
<!--  </div>-->
<!--</div>-->

<div class="section-120" >
  <div class="div-block-15">
      <!--%= form_tag('/blogs/search', method: :get) do %>-->
      <!--          <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value="">-->
      <!--          <button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>-->
      <!--          %= submit_tag("Search") %>-->
      <!--        % end %>-->
              
        <!--%= form_for @q, url: '/blogs/search', method: :get do |f| %>-->
            <!--%= f.collection_check_boxes :favorite_ids, Favorite.all, :id, :name, checked: @form.favorite_ids %>-->
        
        <!--    %= f.collection_check_boxes(:emotion_ids, Emotion.all, :id, :feeling) do |b| %>-->
        <!--        %= b.label {b.check_box + b.text} %> -->
        <!--        %= submit_tag("Search") %>-->
        <!--    % end %>-->
            
        <!--% end %>-->
   
       <%= search_form_for(@q, url: '/blogs/search') do |f| %>
            <!--%= f.collection_check_boxes :favorite_ids, Favorite.all, :id, :name, checked: @form.favorite_ids %>-->
            <%= f.label :title_cont, 'キーワード' %>
            <%= f.search_field :title_cont %>
            <%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %>
            
        <%= f.submit("Search") %>
            
        <% end %>
       
        
      <!--%= link_to 'ブログ検索!', "/blogs/search", method: :get %>-->
      <% @blogs.each do |blog| %>
             
                <div class="div-block-16">
                    <h2><%= simple_format(blog.title) %></h2>
                    <p class="paragraph-4"><%= simple_format(blog.text) %></p>
                   <h3>いいね件数: <%= blog.likes.count %></h3>
                    <%= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %>
                   
                </div>
             
      <% end %>
       
  </div>
</div>

<!--%= paginate(@blogs) %>-->