<div class="contents" >
  <div class="main-contents">
      <% @blogs.each do |blog| %>
             <div class="article"> 
                <div class="article-text">
                    <%= simple_format(blog.title) %>
                    <%= simple_format(blog.text) %>
                   <h3>いいね件数: <%= blog.likes.count %></h3>
                    <%= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %>
                   
                </div>
             </div>
      <% end %>
       
  </div>
</div>
<%= paginate(@blogs) %>