<!--<div class="contents" >-->
<!--  <div class="main-contents">-->
<!--      % @blogs.each do |blog| %>-->
<!--             <div class="article"> -->
<!--                <div class="article-text">-->
<!--                    %= simple_format(blog.title) %>-->
<!--                    %= simple_format(blog.text) %>-->
<!--                   <h3>いいね件数: %= blog.likes.count %></h3>-->
<!--                    %= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %>-->
                   
<!--                </div>-->
<!--             </div>-->
<!--      % end %>-->
       
<!--  </div>-->
<!--</div>-->


<!-- ここから下が旧タイムライン2019ver -->
<!--<div class="section-120" >-->
<!--  <div class="div-block-15">-->
      <!--%= form_tag('/blogs/search', method: :get) do %>-->
      <!--          <input class="search__query" name="keyword" placeholder="作品名で検索" type="text" value="">-->
      <!--          <button class="btn-search" title="検索" type="submit"><i class="icon-search"></i></button></input>-->
      <!--          %= submit_tag("Search") %>-->
      <!--        % end %>-->
              
        <!--%= form_for @q, url: '/blogs/search', method: :get do |f| %>-->
            <!--%= f.collection_check_boxes :favorite_ids, Favorite.all, :id, :name, checked: @form.favorite_ids %>-->
        
        <!--    %= f.collection_check_boxes(:emotion_ids, Emotion.all, :id, :feeling) do |b| %>-->
        <!--        %= b.label {b.check_box + b.text} %> -->
        <!--        %= submit_tag("Search") %>-->
        <!--    % end %>-->
            
        <!--% end %>-->
   
<!--       <%= search_form_for(@q, url: '/blogs/search') do |f| %>-->
            <!--%= f.collection_check_boxes :favorite_ids, Favorite.all, :id, :name, checked: @form.favorite_ids %>-->
<!--            <%= f.label :title_cont, 'キーワード' %>-->
<!--            <%= f.search_field :title_cont %>-->
<!--            <%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %>-->
<!--            <%= f.collection_check_boxes :themes_id_in, @themes, :id, :topic %>-->
            
<!--        <%= f.submit("Search") %>-->
            
<!--        <% end %>-->
       
        
      <!--%= link_to 'ブログ検索!', "/blogs/search", method: :get %>-->
<!--      <% @blogs.each do |blog| %>-->
             
<!--                <div class="div-block-16">-->
<!--                    <h2><%= simple_format(blog.title) %></h2>-->
<!--                    <p class="paragraph-4"><%= simple_format(blog.text) %></p>-->
<!--                   <h3>いいね件数: <%= blog.likes.count %></h3>-->
<!--                    <%= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %>-->
                   
<!--                </div>-->
             
<!--      <% end %>-->
       
<!--  </div>-->
<!--</div>-->

<!--%= paginate(@blogs) %>-->

<!-- ここから上が旧タイムライン2019ver -->

<!-- ここから下が新タイムライン2020 new ver -->
  <!--<div class="section-20">-->
  <!--  <div class="div-block-21">-->
  <!--    <%= search_form_for(@q, url: '/blogs/search') do |f| %>-->
  <!--    <div class="w-form-100">-->
  <!--      <form id="email-form" name="email-form" data-name="Email Form"><label for="name"><%= f.label :title_cont, 'キーワード一つ' %></label>-->
  <!--     <%= f.search_field :title_cont %>-->
  <!--      <label class="w-checkbox-111 checkbox-field">-->
  <!--        <%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %>-->
  <!--      </label>-->
  <!--      <label class="w-checkbox-112 checkbox-field-2">-->
  <!--        <%= f.collection_check_boxes :themes_id_in, @themes, :id, :topic %>-->
  <!--      </label>-->
  <!--      <%= f.submit("Search") %></form>-->
  <!--      <% end %>-->
  <!--    </div>-->
  <!--  </div>-->
    
    
    
  <!--  <div class="div-block-22">-->
  <!--    <% @blogs.each do |blog| %>-->
  <!--    <div class="div-block-23">-->
  <!--      <h2 class="heading-22"><%= simple_format(blog.title) %></h2>-->
  <!--      <p class="paragraph-5"><%= blog.text %></p>-->
  <!--      <h3 class="heading-22">いいね件数: <%= blog.likes.count %></h2>-->
  <!--      <div class="div-block-24">-->
          <!--<a href="#" class="button-3 w-button">-->
  <!--        <%= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %></a></div>-->
  <!--    </div>-->
  <!--    <% end %>-->
  <!--  </div>-->
  <!--  <%= paginate(@blogs) %>-->
  <!--</div>-->
<!-- ここから上が新タイムライン2020 new ver -->


<!-- ここから下が新タイムライン2020 new september ver -->
  <!--<div class="section-20">-->
  <!--  <div class="div-block-search-box">-->
  <!--    <%= search_form_for(@q, url: '/blogs/search') do |f| %>-->
  <!--    <div class="form-block-search w-form">-->
  <!--      <form id="email-form" name="email-form" data-name="Email Form" class="form-search">-->
  <!--        <div class="div-search-block"><label for="name"></label for="search"><%= f.search_field :title_cont %></div>-->
  <!--        <div class="div-check-emotion-block"><label for="emotion" class="w-checkbox"><%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %></label></div>-->
  <!--        <div class="div-check-theme-block"><label for="theme" class="w-checkbox checkbox-field"><%= f.collection_check_boxes :themes_id_in, @themes, :id, :topic %></label></div>-->
  <!--        <div class="div-submit-block"><%= f.submit("Search") %></div>-->
  <!--      </form>-->
  <!--    </div>-->
  <!--    <% end %>-->
  <!--  </div>-->
    
  <!--  <div class="div-block-22">-->
  <!--    <% @blogs.each do |blog| %>-->
  <!--    <div class="div-block-23">-->
  <!--      <h2 class="heading-22"><%= simple_format(blog.title) %></h2>-->
  <!--      <p class="paragraph-5"><%= blog.text %></p>-->
  <!--      <h3 class="heading-22">いいね件数: <%= blog.likes.count %></h2>-->
  <!--      <div class="div-block-24">-->
  <!--        <a href="#" class="button-3 w-button">-->
  <!--        <%= link_to '詳細!', "/blogs/#{blog.id}/detailpage", method: :get %></a></div>-->
  <!--    </div>-->
  <!--    <% end %>-->
  <!--  </div>-->
  <!--  <%= paginate(@blogs) %>-->
  <!--</div>-->
<!-- ここから上が新タイムライン2020 new september ver -->


<!-- ここから下が新タイムライン20201108 PCver -->
<div class="pc_area">
  <div class="sec-for-timeline-body">
        <div class="search-div">
          <%= search_form_for(@q, url: '/blogs/search') do |f| %>
              <div class="form-block-for-search w-form">
                <div class="search-text-block">検索用語一つ</div>
                <form id="email-form" name="email-form" data-name="Email Form" class="form-for-search">
                  <div class="search-block-div"></label for="search"><%= f.search_field :title_cont %></div>
                  <div class="div-cb-emo"><label for="emotion" class="w-checkbox"><%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %></label></div>
                  <div class="div-cb-content"><label for="theme" class="w-checkbox checkbox-field"><%= f.collection_check_boxes :themes_id_in, @themes, :id, :topic %></label></div>
                  
                  <%= button_tag type: "submit" do %>
                  <div class="div-search-button">
                    <!--<div class="searching-text-block">%= f.submit("Search") %></div>-->
                    <div class="searching-text-block">Search</div>
                  </div>
                  <% end %>
                  
                </form>
                <!--<div class="w-form-done">-->
                <!--  <div>Thank you! Your submission has been received!</div>-->
                <!--</div>-->
                <!--<div class="w-form-fail">-->
                <!--  <div>Oops! Something went wrong while submitting the form.</div>-->
                <!--</div>-->
              </div>
          <% end %>
        </div>
    
    <% @blogs.each do |blog| %>
    <div class="div-blog-block">
      <h2 class="blog-heading"><%= simple_format(blog.title) %></h2>
      <p class="blog-paragraph"><%= blog.text %></p>
      <div class="div-readit">
        <div class="readit-text">読んだよ！件数:</div>
        <div class="readit-var"><%= blog.likes.count %></div>
      </div>
      
      <%= link_to("/blogs/#{blog.id}/detailpage", method: :get) do %>
      <div class="div-details">
        <div class="div-detail-button">
          <div class="detail-image"></div>
          <div class="detail-text">
            <div class="text-for-detail">詳細!</div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    
    <%= paginate(@blogs) %>
  </div>
</div>  
<!-- ここから上が新タイムライン20201108 PCver -->

<!-- ここから下が新タイムライン20210107 SmartPhone ver -->
<div class="phone_area">
      
      <div id="searchbox-modal" class="sp_checkbox_body">
        <div class="sp_checkbox_area">
          <div class="sp_out_area">
            <div class="sp_out_box"></div>
          </div>
          
          <%= search_form_for(@q, url: '/blogs/search') do |f| %>
          <div class="sp_checkbox_formblock w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="sp_checkbox_form">
              <div class="sp_cb_search_word">
                <div class="sp_cb_seach_title">検索用語一つ</div>
              </div>
              <div class="sp_cb_seach_box">
                <div class="sp_cb_search_text_box"><%= f.search_field :title_cont, class: "searching-hardbox" %></div>
              </div>
              <div class="sp_cb_blog_contents">
                <div class="sp_cb_contents_title">感想文の内容を選択して下さい。</div>
                <div class="sp_cb_options">
                  <div class="sp_cb_options_to_choose"><%= f.collection_check_boxes :themes_id_in, @themes, :id, :topic %></div>
                </div>
              </div>
              <div class="sp_cb_blog_emotion">
                <div class="sp_cb_emotion_title">感想文に関する感情を選択して下さい。</div>
                <div class="sp_cb_emotion_options">
                  <div class="sp_cb_emotions_to_choose"><%= f.collection_check_boxes :emotions_id_in, @emotions, :id, :feeling %></div>
                </div>
              </div>
              
              <div class="sp_cb_searchbox">
                <%= button_tag type: "submit" do %>
                <div class="sp_cb_search">
                  <div class="sp_cb_seach_image"></div>
                  <div class="sp_cb_search_text">
                    <div class="sp_cb_searching">Search</div>
                  </div>
                </div>
                <% end %>
              </div>
              
            </form>
          </div>
          <% end %>
        </div>
      </div>
  
      <div class="sp_timeline_mainbody">
        <div class="sp_main_search_area">
          <div id="searchbox-show" class="sp_main_search_word">
            <div class="sp_main_search_text">検索</div>
          </div>
        </div>
        
        <% @blogs.each do |blog| %>
            <%= link_to("/blogs/#{blog.id}/detailpage", method: :get) do %>
            <div class="sp_blog_box">
              <h4 class="sp_blog_title"><%= simple_format(blog.title) %></h4>
              <div class="sp_blog_readit">
                <div class="sp_blog_read_word">読んだよ!件数:</div>
                <div class="sp_blog_read_number"><%= blog.likes.count %></div>
              </div>
            </div>
            <% end %>
        <% end %>
        <%= paginate(@blogs) %>
      </div>
  
</div>
<!-- ここから上が新タイムライン20210107 SmartPhone ver -->