<div class="mypage">
    <div class="mypage_contents">
           
                    <% if user_signed_in? && current_user.id == blog.user_id %>
                        <%= link_to '編集しちゃおう', "/blogs/#{blog.id}/edit", method: :get %>
                        <%= link_to '削除しちゃおう', "/blogs/#{blog.id}", method: :delete %>
                        <%= link_to '詳細!', "/blogs/#{blog.id}", method: :get %>
                    <% end %>
              <%= simple_format(blog.title) %>
              <%= simple_format(blog.text) %>
             
            
            
        
    </div>
</div>