<div class="contents row" >
  <% @blogs.each do |blog| %>
    <div class="content_post" style="background-image: url(<%= blog.image %>);">
      <%= simple_format(blog.text) %>
      <span class="name"><%= blog.user_name %></span>
    </div>
  <% end %>
  <p>
  <strong>Image:</strong>
  <% if @blog.image? %>
    <div class="thumbnail">
      <%= image_tag @blog.image.url %>
    </div>
  <% end %>
</p>
  <%= paginate(@blogs) %>
</div>