


<div class = "contents row">
  <%= form_for [@blog] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'title' %>
    <%= f.text_area :text, placeholder:"text" %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= button_tag type: "submit", class: "btn btn--block" do %>
    投稿する
    <% end %>
  <% end %>
</div>


