<!--<div class="contents row">-->
<!--  %= form_tag('/blogs', method: :post) do %>-->
<!--    <h3>-->
<!--      ブログを投稿する-->
<!--    </h3>-->
<!--    <input type="text" name="title" placeholder="Title">-->
<!--    <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>-->
<!--    <input type="submit" value="SENT">-->
<!--  % end %>-->
<!--</div>-->






  <div class="section-10">
    
    <div class="div-block-90">
      
              <div class="div-block-11">
                <h2>ブログを投稿する</h2>
              </div>
              <div>
                <div class="form-block-2 w-form">
                   <%= form_for @blog, html: {multipart: true} do |f| %>
                   <div class="div-block-13"><%= f.text_field :title, placeholder: 'title' %></div>
                   <div class="div-block-13"><%= f.text_area :text, placeholder:'text' %></div>
                   <div class="div-block-12"><%= f.label :image %></div>
                   <div class="div-block-120">
                   <%= f.fields_for :blog_photos do |p| %>
                    <div class="field">
                      <%= p.label :photo %><br>
                      <%= p.file_field :photo, multiple: true, name: "blog_photos[photo][]", class: "upload-image" %>
                      <%= p.file_field :photo, multiple: true, name: "blog_photos[photo][]", class: "upload-image" %>
                    </div>
                     <% end %>
                   </div>
                   <div class="check_box" >          
                      <%= f.collection_check_boxes(:emotion_ids, Emotion.all, :id, :feeling) do |b| %>
                          <%= b.label {b.check_box + b.text} %>
                      <% end %>
                   </div>
                   <div class="div-block-10"><%= button_tag type: "submit", class: "btn btn--block" do %>投稿する
                    <% end %>
                   </div>
                   <% end %>
                </div>
              </div>
      
    </div>
  </div>
  