
<!-- ここより下が20200912までの旧式ページ-->
<!--<h2>Sign up</h2>-->

<!--<div class='regist_back'>-->
<!--  <div class='log-up'>-->
<!--    <%= render partial: 'common/login_logo' %>-->

<!--    <div class='log-in-inner'>-->
<!--      <h2>会員登録</h2>-->

<!--      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
<!--        <%= devise_error_messages! %>-->

<!--        <div class='form-group'>-->
<!--          <%= f.label :メールアドレス %><br />-->
<!--          <%= f.email_field :email, autofocus: true, class: 'form-control' %>-->
<!--        </div>-->

<!--        <div class='form-group'>-->
<!--          <%= f.label :パスワード %>-->
<!--          <% if @validatable %>-->
<!--            <em>(<%= @minimum_password_length %> 文字以上)</em>-->
<!--          <% end %><br />-->
<!--          <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>-->
<!--        </div>-->

<!--        <div class='form-group'>-->
<!--          <%= f.label :パスワード（確認） %><br />-->
<!--          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>-->
<!--        </div>-->

<!--        <div class='actions'>-->
<!--          <%= f.submit class: 'btn btn-primary withripple', value: '新規登録' %>-->
<!--        </div>-->
<!--      <% end %>-->

<!--      <%= render 'devise/shared/links' %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- ここより上までが20200912までの旧式ページ-->

<!-- ここより下が20200912までの新ページ-->
<div class="login_section_one">
    <div class="login_div_explain">
      <div class="login_div_explain_title">
        <div class="login_div_explain_title_one">超長期記録ブログサービス</div>
        <div class="login_div_explain_title_two">&quot;Arkchive&quot;</div>
      </div>
      <div class="login_div_explain_sentence">
        <div class="login_div_explain_sentence_title_one">
          <div class="login_div_explain_sentence_title_one_text">Arkchiveとは</div>
        </div>
        <div class="login_div_explain_sentence_word_one">
          <div class="login_div_explain_sentence_word_text_one">　Arkchiveはあなたが書き込んだ記録を1000年先へと超長期的に記録するブログサービスです。<br>　私達が1000年前の先祖の話を聞くことは不可能です。確かに当時の貴重な文献や建築物から僅かな情報を得ることは出来る。そこから当時の著名人や大きな出来事について調査も出来る。しかし、どれほど技術が発達して過去を読み解く力がついても、根本的に記録媒体の母数自体が少なく、当時の一人一人の話を聞くことは困難を極める。文化や生活習慣が異なれ、私達と同じようにその時その時、必死に時代を生きた人々の思いを調べることが出来ないのは非常に残念なことである。<br>そこで情報革命の真っ只中にいる21世紀の今だからこそ、全ての人の記録が後世へと残されるべきなのではないかと思う。いつか1000年先、国も民族も境界が変わり、あるいは地球上に住んでいない状況にあるかもしれない時代、人類は私達をどう読み解くのか、今の私達の思いを残すべきだと感じる。</div>
        </div>
        <div class="login_div_explain_sentence_title_two">
          <div class="login_div_explain_sentence_title_two_text">使い方</div>
        </div>
        <div class="login_div_explain_sentence_word_two">
          <div class="login_div_explain_sentence_word_text_two">　Archiveにはブログ機能と日記機能の二つがあります。Archiveのブログ機能で記した内容は全て公開されます。ただし、個人情報は一切公開されず、ブログに記した内容およびニックネームのみが公開対象となります。また、日記機能にて記した内容は自身のマイページにのみ閲覧できます。 <br>　ブログを記載する際、内容の分類と感情の分類を選択できる仕様となっています。ブログ内容の分類は、「あなたとあなた以外の誰かの関係について」、「あなたと自然について」、「あなたと何かの対象について」、そして「あなた自身について」の4つの中から最も近いものを選択してください。また、ブログ内容に最も違い感情（プルチックの感情の輪）についても選択してください。<br>　Arkchiveのプロフィール欄では名前、生年月日、そしてお住いの地域を記す欄があります。これは遠い将来、AIを使用して記載情報を時間や位置情報から割り出すために使用される情報であり、プライバシーの保護をお約束致します。</div>
        </div>
        <div class="login_div_explain_sentence_title_three">
          <div class="login_div_explain_sentence_title_three_text">お約束</div>
        </div>
        <div class="login_div_explain_sentence_word_three">
          <div class="login_div_explain_sentence_word_text_three">　Arkchiveは独自の視点と戦略で運営していくことをお約束しています。Arkchiveの最も優先すべき目的は1000年先へとユーザーの記録を残すことです。従って、トレンド優先の機能は追加されない方針です。<br>　例えば、中生代に繁栄したと言われている恐竜。陸においても海において大型の恐竜は食物連鎖の頂点に立っていた。原因は定かではないものの、そんな最強生物も地球環境の変化によって滅んだとされている。そして地球環境が変動する中、結果的に生き残ったとされているのは、恐竜が棲みかとしていなかった川等の水辺に暮らしていた生物である。とりわけ、エサが少なくても生活できる燃費の良い小型生物が生き残った。オーストラリアの水辺に生息するカモノハシが特に面白い例だ。哺乳類でありながら卵を産み、水かきのある4本の足、毒のある爪、そしてアヒルのようなくちばし。カモノハシは原始的な特徴を維持しながら現在まで生き残ってきた「生きた化石」である。<br>　Arkchiveもカモノハシと同様のスタンスで、サービスや運営組織を可能な限りコンパクトにまとめ、柔軟に後世へと残すシステム作りを優先させていくことをお約束します。</div>
        </div>
        <div class="login_div_explain_company">
          <div class="login_div_explain_company_word">株式会社メメリサーチ</div>
        </div>
      </div>
    </div>
    <div class="login_div_fill">
      <div class="login_div_fill_logo">
        <div class="login_div_fill_logo_word">LOGO</div>
      </div>
      <div class="login_form_block w-form">
        <%= render partial: 'common/login_logo' %>
        <!--<form class="login_form_block_text">-->
          <div class="login_form_block_title">
            <div class="login_form_block_title_text"><br>会員登録</div>
          </div>
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          
          <div class='login_form_field_label_one'>
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class='login_form_field_label_two'>
            <%= f.label :パスワード %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
          </div>
          <div class='login_form_field_label_three'>
            <%= f.label :パスワード（確認） %><br />
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
          </div>
          <div class='login_submit_new_button'>
            <%= f.submit class: 'btn btn-primary withripple', value: '新規登録' %>
          </div>
          
          <% end %>

          
                <!--<label for="email" class="login_form_field_label_one">E-mail アドレス</label>-->
                <!--<input type="email" class="login_form_field_text_one w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required="">-->
                <!--<label for="name" class="login_form_field_label_two">パスワード</label>-->
                <!--<input type="text" class="login_form_field_text_two w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name">-->
                <!--<label class="login_form_field_label_three">パスワード(確認)</label>-->
                <!--<input type="text" class="login_form_field_text_three w-input" maxlength="256" name="field" data-name="Field" id="field" required="">-->
                <!--<input type="submit" value="新規登録" data-wait="Please wait..." class="login_submit_new_button w-button">-->
          <div class="login_form_field_text_four">
            <div class="login_form_field_text_four">または、</div>
          </div>
          
          <%= render 'devise/shared/links' %>
        <!--  <div class="login_submit_login_button">ログイン</div>-->
        <!--  <div class="login_submit_check_mail_button">確認メールの再送信</div>-->
        <!--</form>-->
        <!--<div class="login_success_message w-form-done">-->
        <!--  <div>Thank you! Your submission has been received!</div>-->
        <!--</div>-->
        <!--<div class="login_error_message w-form-fail">-->
        <!--  <div>Oops! Something went wrong while submitting the form.</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <div class="login_section_two"></div>
  <div class="login_section_three"></div>
  <div class="login_section_four"></div>
<!-- ここより上までが20200912までの新ページ-->