<!--<div class="row form">-->
<!--  <div class="col-lg-12">-->
<!--    <%= form_for current_user do |f| %>-->
<!--      <h2>プロフィール画像</h2>-->
<!--      <div class="form-group file">-->
<!--        <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>-->
<!--      </div>-->
<!--      <h2>登録情報</h2>-->
<!--      <div class="form-group">-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :family_name, placeholder: "姓", class: "form-control" %>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :family_name_kana, placeholder: "セイ", class: "form-control" %>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control" %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :nickname, placeholder: "ニックネーム(必須)", class: "form-control" %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div class="col-lg-6">-->
<!--          %= f.text_field :birthdate, placeholder: "例) 2001年1月1日の場合、20010101", class: "form-control" %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :country, placeholder: "お住いの国", class: "form-control" %>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <%= f.text_field :city, placeholder: "お住いの市町村", class: "form-control" %>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <%= f.submit "送信", class: "btn btn-primary withripple" %>-->
<!--      </div>-->
<!--    <% end %>-->
<!--  </div>-->
<!--</div>-->
  
  <!-- ここから旧プロフィール編集のカスタムはじまり -->
  <!--<div class="section-12">-->
    
  <!--  <%= form_for current_user do |f| %>-->
    
  <!--  <div class="div-block-10">-->
  <!--    <div class="div-block-9">-->
  <!--      <h1>登録情報</h1>-->
  <!--    </div>-->
  <!--    <div class="div-block-14">-->
  <!--      <h3>プロフィール画像</h3>-->
  <!--      <div class="div-block-15">-->
  <!--        <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>-->
          <!--<h4>選択されていません</h4>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <h3>名前</h3>-->
  <!--      <div class="div-block-11">-->
  <!--        <h3>Last Name</h3>-->
  <!--        <h3 class="heading-20"><%= f.text_field :family_name, placeholder: "姓", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--      <div class="div-block-12">-->
  <!--        <h3>First Name</h3>-->
  <!--        <h3 class="heading-21"><%= f.text_field :first_name, placeholder: "名", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <h3>ニックネーム</h3>-->
  <!--      <div class="div-block-13">-->
  <!--        <h3><%= f.text_field :nickname, placeholder: "ニックネーム(必須)", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <h3>生年月日</h3>-->
  <!--      <div>-->
  <!--        <h3>%= f.text_field :birthdate, placeholder: "例) 2001年1月1日の場合、20010101", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <h3>国籍</h3>-->
  <!--      <div>-->
  <!--        <h3><%= f.text_field :country, placeholder: "お住いの国", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div>-->
  <!--      <h3>住んでいる町</h3>-->
  <!--      <div>-->
  <!--        <h3><%= f.text_field :city, placeholder: "お住いの市町村", class: "form-control" %></h3>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="div-block-16">-->
  <!--      <h3><%=f.label :selfanalysis,"自己分析"%></h3>-->
  <!--      <div>-->
  <!--        <p class="paragraph-4"><%= f.text_area :selfanalysis, placeholder:"自己分析を記入してください", class:"form-control" %></p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="div-block-16">-->
  <!--      <h3><%=f.label :selfintroduction,"自分"%></h3>-->
  <!--      <div>-->
  <!--        <p class="paragraph-4"><%= f.text_area :selfintroduction, placeholder:"自己紹介を記入してください", class:"form-control" %></p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="div-block-16">-->
  <!--      <h3><%= f.submit "送信", class: "btn btn-primary withripple" %></h3>-->
  <!--    </div>-->
  <!--  </div>-->
    
  <!--  <% end %>-->
  <!--</div>-->
    <!-- ここまで旧プロフィール編集のカスタムおわり! -->
  
  
  
  
  
  
  
  
  
   <!-- ここから新プロフィール編集2020のカスタムはじまり -->
  <!--<div class="self-introduction-body">-->
  <!--  <%= form_for current_user do |f| %>-->
  <!--  <h3>プロフィール画像</h3>-->
  <!--  <div class="private-section"><%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>-->
  <!--    <div class="name-position">-->
  <!--      <div class="text-block-14">性 Last Name</div>-->
  <!--      <div class="text-block-15">名 First Name</div>-->
  <!--    </div>-->
  <!--    <div class="name-section">-->
  <!--      <div class="text-block-16"><%= f.text_field :family_name, placeholder: "姓", class: "form-control" %></div>-->
  <!--      <div class="text-block-17"><%= f.text_field :first_name, placeholder: "名", class: "form-control" %></div>-->
  <!--    </div>-->
  <!--    <div class="birthdate-area">-->
  <!--      <div class="birthdate-position">ニックネーム</div>-->
  <!--      <div class="birthdate-section"><%= f.text_field :nickname, placeholder: "ニックネーム(必須)", class: "form-control" %></div>-->
  <!--    </div>-->
  <!--    <div class="birthdate-area">-->
  <!--      <div class="birthdate-position">生年月日:</div>-->
  <!--      <div class="birthdate-section">%= f.text_field :birthdate, placeholder: "例) 2001年1月1日の場合、20010101", class: "form-control" %></div>-->
  <!--    </div>-->
  <!--    <div class="country-area">-->
  <!--      <div class="country-position">お住まいの国:</div>-->
  <!--      <div class="country-section"><%= f.text_field :country, placeholder: "お住いの国", class: "form-control" %></div>-->
  <!--    </div>-->
  <!--    <div class="city-area">-->
  <!--      <div class="city-position">お住まいの町:</div>-->
  <!--      <div class="city-section"><%= f.text_field :city, placeholder: "お住いの市町村", class: "form-control" %></div>-->
  <!--    </div>-->
  <!--    <div class="self-introduction-sentence">-->
  <!--      <h2 class="self-introduction-title"><%=f.label :selfanalysis,"自己分析"%></h2>-->
  <!--      <div class="self-introduction-section">-->
  <!--        <p class="self-introduction-position"><%= f.text_area :selfanalysis, placeholder:"自己分析を記入してください", class:"form-control" %></p>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="public-section">-->
  <!--    <div class="public-title-section">-->
  <!--      <h1 class="public-title"><%=f.label :selfintroduction,"自分"%></h1>-->
  <!--    </div>-->
  <!--    <div class="public-sentence-section">-->
  <!--      <div class="public-sentence-position"><%= f.text_area :selfintroduction, placeholder:"自己紹介を記入してください", class:"form-control" %></div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="div-block-16">-->
  <!--      <h3><%= f.submit "送信", class: "btn btn-primary withripple" %></h3>-->
  <!--  </div>-->
  <!--    <% end %>-->
  <!--</div>-->
   <!-- ここまで新プロフィール編集2020のカスタムおわり! -->
   
   
   
    <!-- ここから新プロフィール編集2020 newのカスタムはじまり -->
  <!--<div class="self-body">-->
  <!--  <%= form_for current_user do |f| %>-->
  <!--  <div class="self-section">-->
  <!--    <div class="self-photo-input-section"><h3>プロフィール画像</h3>-->
  <!--      <div class="self-photo-input-words"><%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %></div>-->
  <!--    </div>-->
  <!--    <div class="self-name-input-section">-->
  <!--      <div class="self-name-title">-->
  <!--        <div class="self-name-words">氏名</div>-->
  <!--      </div>-->
  <!--      <div class="self-name-input-name">-->
  <!--        <div class="self-name-input-last-name-words">-->
  <!--          <div class="self-name-last-sentence">性 Last Name</div>-->
  <!--          <div class="w-form-name">-->
  <!--            <%= f.text_field :family_name, placeholder: "姓", class: "form-control" %>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="self-name-input-first-name-words">-->
  <!--          <div class="self-name-first-sentence">名 First Name</div>-->
  <!--          <div class="w-form-name">-->
  <!--            <%= f.text_field :first_name, placeholder: "名", class: "form-control" %>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="self-nickname-section">-->
  <!--      <div class="self-nickname-input">-->
  <!--        <div class="text-block-34">ニックネーム:</div>-->
  <!--        <div class="self-nickname-sentence"><%= f.text_field :nickname, placeholder: "ニックネーム(必須)", class: "form-control" %></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="self-birrhdate-section">-->
  <!--      <div class="self-birthdate-input">-->
  <!--        <div class="text-block-35">生年月日:</div>-->
  <!--        <div class="self-birthdate-sentence">%= f.text_field :birthdate, placeholder: "例) 2001年1月1日の場合、20010101", class: "form-control" %></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="self-country-section">-->
  <!--      <div class="self-country-input">-->
  <!--        <div class="text-block-37">お住いの国:</div>-->
  <!--        <div class="self-country-sentence"><%= f.text_field :country, placeholder: "お住いの国", class: "form-control" %></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="self-city-section">-->
  <!--      <div class="self-city-input">-->
  <!--        <div class="text-block-38">お住まいの町:</div>-->
  <!--        <div class="self-city-sentence"><%= f.text_field :city, placeholder: "お住いの市町村", class: "form-control" %></div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="self-myself-section">-->
  <!--      <div class="self-myself-title">-->
  <!--        <div class="text-block-39"><%=f.label :selfanalysis,"自己分析"%></div>-->
  <!--        <div class="self-myself-words">-->
  <!--          <div><%= f.text_area :selfanalysis, placeholder:"自己分析を記入してください", class:"form-control", style:'height: 48vh; width: 100%;' %></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="self-intro-section">-->
  <!--    <div class="self-intro-title">-->
  <!--      <h1 class="heading-25"><%=f.label :selfintroduction,"自分"%></h1>-->
  <!--    </div>-->
  <!--    <div class="self-intro-words">-->
  <!--      <div class="self-intro-words-sentence"><%= f.text_area :selfintroduction, placeholder:"自己紹介を記入してください", class:"form-control", style:'height: 63vh; width: 100%;' %></div>-->
  <!--    </div>-->
  <!--  </div>%= f.submit "送信", class: "submitter btn btn-primary withripple" %></div>-->
  <!--  <% end %>-->
  <!--</div>-->
   <!-- ここまで新プロフィール編集2020 newのカスタムおわり! -->
   
<!-- ここから新プロフィール編集20201109 PCver newのカスタムはじまり -->
<div class="pc_area">
    <%= form_for current_user do |f| %>
      <div class="section-profile-edit">
        <div class="profile-edit-area">
          <div class="profile-edit-image">
            <div class="pe-image-word">プロフィール画像</div>
            <div class="pe-image-button">
              <div class="pe-image-text"><%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %></div>
            </div>
            <!--<div class="pe-image-sentence">選択されていません</div>-->
          </div>
          <div class="pe-show-section">
            <h3 class="pe-show-heading">氏名</h3>
            <div class="pe-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="pe-form">
                <div class="pe-last-name">性 （Last Name）</div>
                <p class="pe-last-name-box"><%= f.text_field :family_name, placeholder: "姓", class: "form-controler" %></p>
                <div class="pe-first-name">名 （First Name）</div>
                <p class="pe-first-name-box"><%= f.text_field :first_name, placeholder: "名", class: "form-controler" %></p>
                <div class="pe-last-name">セイ （Katakana）</div>
                <p class="pe-last-name-box"><%= f.text_field :family_name_kana, placeholder: "セイ（カタカナ）", class: "form-controler" %></p>
                <div class="pe-first-name">ナマエ （Katakana）</div>
                <p class="pe-first-name-box"><%= f.text_field :first_name_kana, placeholder: "ナマエ（カタカナ）", class: "form-controler" %></p>
                <div class="pe-birth-date">
                  <div class="pe-birth-date-text">生年月日（Birthdate）:</div>
                  <p class="pe-birth-date-var"><%= f.date_select :birth_date, use_month_numbers: true,start_year: 1900, end_year: (Time.now.year - 5), default: Date.new(2020, 1, 1) %></p>
                </div>
                <div class="pe-country">
                  <div class="pe-country-text">お住まいの国（Country）:</div>
                  <p class="pe-country-var"><%= f.text_field :country, placeholder: "お住いの国", class: "form-controling" %></p>
                </div>
                <div class="pe-city">
                  <div class="pe-city-text">お住まいの町（City）:</div>
                  <p class="pe-city-var"><%= f.text_field :city, placeholder: "お住いの市町村", class: "form-controling" %></p>
                </div>
                   <p>extraversion</p>
                   <label><%= f.radio_button :extraversion, "1" %>どちらかといえばおしゃべり好きで他人との付き合いに刺激を求める</label>
                   <label><%= f.radio_button :extraversion, "0" %>どちらでもない</label>
                   <label><%= f.radio_button :extraversion, "2" %>どちらかといえばよそよそしくて自己完結</label>
                   <p>agreeableness</p>
                   <label><%= f.radio_button :agreeableness, "1" %>どちらかといえば協力的で争いや対立を避ける</label>
                   <label><%= f.radio_button :agreeableness, "0" %>どちらでもない</label>
                   <label><%= f.radio_button :agreeableness, "2" %>どちらかといえば競争力があり挑戦的で議論好き</label>
                   <p>openness</p>
                   <label><%= f.radio_button :openness, "1" %>どちらかといえば想像力豊かで革新的</label>
                   <label><%= f.radio_button :openness, "0" %>どちらでもない</label>
                   <label><%= f.radio_button :openness, "2" %>とちらかといえば保守的・冷静・慎重</label>
                   <p>conscientiousness</p>
                   <label><%= f.radio_button :conscientiousness, "1" %>どちらかといえば責任感が強い・セルフコントロールできる・達成力も高い</label>
                   <label><%= f.radio_button :conscientiousness, "0" %>どちらでもない</label>
                   <label><%= f.radio_button :conscientiousness, "2" %>どちらかといえば感情的で直感的に行動</label>
                   <p>neuroticism</p>
                   <label><%= f.radio_button :neuroticism, "1" %>どちらかといえば周囲の人への感度が高く、空気を読み、繊細な気配りができる</label>
                   <label><%= f.radio_button :neuroticism, "0" %>どちらでもない</label>
                   <label><%= f.radio_button :neuroticism, "2" %>どちらかといえば感情が安定していて悩むことやストレスを感じることが比較的少ない</label>
                <div class="pe-yourself">自分について（About yourself）:</div>
                <p class="pe-paragraph"><%= f.text_area :selfanalysis, placeholder:"自己分析を記入してください", class:"form-control", style:'height: 40vh; width: 100%;' %></p>
              <!--</form>-->
              <!--<div class="w-form-done">-->
              <!--  <div>Thank you! Your submission has been received!</div>-->
              <!--</div>-->
              <!--<div class="w-form-fail">-->
              <!--  <div>Oops! Something went wrong while submitting the form.</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <div class="pe-show">
          <h3 class="pe-show-title">公開情報</h3>
          <div class="pe-show-title-section">
            <div class="pe-show-form-block w-form">
              <!--<form id="email-form-3" name="email-form-3" data-name="Email Form 3" class="pe-form">-->
                <div class="pe-nickname">ニックネーム（Nickname）:</div>
                <p class="pe-nickname-sentence"><%= f.text_field :nickname, placeholder: "ニックネーム(必須)", class: "form-controler" %></p>
                <div class="pe-self-show">自己紹介（Self Introduction）:</div>
              </form>
              <!--<div class="w-form-done">-->
              <!--  <div>Thank you! Your submission has been received!</div>-->
              <!--</div>-->
              <!--<div class="w-form-fail">-->
              <!--  <div>Oops! Something went wrong while submitting the form.</div>-->
              <!--</div>-->
            </div>
          </div>
          <p class="pe-show-paragraph"><%= f.text_area :selfintroduction, placeholder:"自己紹介を記入してください", class:"form-control", style:'height: 100%; width: 100%;' %></p>
        </div>
        
        <div class="pe-submit">
          <%= button_tag type: "submit" do %>
          <div class="pe-submit-button">
            <div class="pe-submit-image"></div>
            <div class="pe-submit-word">
              <!--<div class="pe-submit-text">%= f.submit "送信" %></div>-->
              <div class="pe-submit-text">編集</div>
            </div>
          </div>
          <% end %>
        </div>
        
      </div>
    <% end %>
</div>
<!-- ここまで新プロフィール編集20201109 PCver newのカスタムおわり! -->
   
<!-- ここから新プロフィール編集20210107 Smartphone ver newのカスタムはじまり --> 
<div class="phone_area">
  <%= form_for current_user do |f| %>
    <div class="sp_introedit_mainbody">
        <div class="sp_introedit_area">
          <div class="sp_self_introedit_image_area">
            <div class="sp_self_introedit_image_title">
              <div class="sp_self_introedit_image_title_word">プロフィール画像</div>
            </div>
            <div class="sp_self_introedit_chose_photo">
              <%= f.file_field :image, class: "form-control floating-label", placeholder: "画像アップロード" %>
            </div>
          </div>
          <div class="sp_selfintro_name">
            <div class="sp_selfintro_nametitle">氏名</div>
            <div class="sp_selfintro_lastname">性 (Last Name)</div>
            <div class="sp_selfintro_lastname_var"><%= f.text_field :family_name, placeholder: "姓" %></div>
            <div class="sp_selfintro_firstname">名 (First Name)</div>
            <div class="sp_selfintro_firstname_var"><%= f.text_field :first_name, placeholder: "名" %></div>
            <div class="sp_selfintro_kanalast">セイ (Katakana)</div>
            <div class="sp_selfintro_kanalast_var"><%= f.text_field :family_name_kana, placeholder: "セイ（カタカナ）" %></div>
            <div class="sp_selfintro_kanafirst">ナマエ (Katakana)</div>
            <div class="sp_selfintro_kanafirst_var"><%= f.text_field :first_name_kana, placeholder: "ナマエ（カタカナ）" %></div>
          </div>
          <div class="sp_self_detail">
            <div class="sp_self_birthdate">
              <div class="sp_self_birthdate_word">生年月日:</div>
              <div class="sp_self_birthdate_wordvar"><%= f.date_select :birth_date, use_month_numbers: true,start_year: 1900, end_year: (Time.now.year - 5), default: Date.new(2020, 1, 1) %></div>
            </div>
            <div class="sp_self_country">
              <div class="sp_self_country_word">お住まいの国:</div>
              <div class="sp_self_country_wordvar"><%= f.text_field :country, placeholder: "お住いの国" %></div>
            </div>
            <div class="sp_self_city">
              <div class="sp_self_city_word">お住まいの町:</div>
              <div class="sp_self_city_wordvar"><%= f.text_field :city, placeholder: "お住いの市町村" %></div>
            </div>
          </div>
          <div class="sp_selfintro_sentence_area">
            <div class="sp_selfintro_texts">自分について（About yourself）:</div>
            <div class="sp_selfintro_words"><%= f.text_area :selfanalysis, placeholder:"自己分析を記入してください", style:'height: 40vh; width: 100%;' %></div>
          </div>
        </div>
        <div class="sp_myintro_areas">
          <div class="sp_myintro_title">
            <div class="sp_myintro_heading">公開情報</div>
          </div>
          <div class="sp_myintro_nickname">
            <div class="sp_myintro_nickname_title">ニックネーム (Nickname):</div>
            <div class="sp_myintro_nickname_title_word"><%= f.text_field :nickname, placeholder: "ニックネーム(必須)" %></div>
          </div>
          <div class="sp_myintro_sentence">
            <div class="sp_myintro_sentence_title">自己紹介 (Self Introduction):</div>
            <div class="sp_myintro_sentence_title_word"><%= f.text_area :selfintroduction, placeholder:"自己紹介を記入してください", style:'height: 100%; width: 100%;' %></div>
          </div>
        </div>
        <div class="sp_introedit_button">
          <%= button_tag type: "submit" do %>
            <div class="sp_introedit_button_area">
              <div class="sp_introedit_button_image"></div>
              <div class="sp_introedit_button_word">
                <div class="sp_introedit_button_text">編集</div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
<!-- ここから新プロフィール編集20210107 Smartphone ver newのカスタムおわり --> 
  