<!-- ここから下が旧マイページ2019ver -->
<!--<div class="mypage">-->
<!--    <div class="mypage_contents">-->
<!--            %= render @feed_contents %>-->
<!--    </div>-->
<!--</div>-->
<!-- ここから上が旧マイページ2019ver -->

<!-- ここから下が新マイページ2020ver -->
<!--<div class="mypage-body">-->
<!--    <div class="mypage-section">-->
<!--        %= render @feed_contents %>-->
<!--    </div>-->
<!--</div>-->
<!-- ここから上が新マイページ2020ver -->

<!-- ここから下が新マイページ2020ver new -->
  <!--<div class="section-26">-->
  <!--  <div class="div-block-25">-->
  <!--    %= render @feed_contents_resource %>-->
  <!--  </div>-->
  <!--  %= paginate(@feed_contents) %>-->
  <!--</div>-->
<!-- ここから上が新マイページ2020ver new -->

<!-- ここから下が新マイページ20201108 PCnew -->
<div class="pc_area">
  
  <div class="section-mypage">
  
        <% if @notifications.exists? %>
        <%= link_to 'コメントを削除する', notification_path, confirm: 'Are you sure?', method: :delete %>
          <% @notifications.each do |notification| %>
          <%= render partial: 'notification', locals: {notification: notification} %>
          <% end %>
        <% else %>
          <p>通知はありません</p>
        <% end %>
      
      <%= render @feed_contents_resource %>
    
    <%= paginate(@feed_contents) %>
  </div>
</div>
<!-- ここから上が新マイページ20201108 PCnew -->

<!-- ここから下が新マイページ20210107 SmartPhonenew -->
<div class="phone_area">
  <div class="sp_mypage_mainbody">
    <%= render @feed_contents_resource %>

    <%= paginate(@feed_contents) %>
  </div>
</div>
<!-- ここから上が新マイページ20210107 SmartPhonenew -->