<div class="mypage">
    <div class="mypage_contents">
            <% @blogs.each do |blog| %>
                    <% if user_signed_in? && current_user.id == blog.user_id %>
                        <%= link_to '削除しちゃおう', "/blogs/#{blog.id}", method: :delete %>
                    <% end %>
              <%= simple_format(blog.title) %>
              <%= simple_format(blog.text) %>
            <% end %>
            
             <% @journals.each do |journal| %>
                    <% if user_signed_in? && current_user.id == journal.user_id %>
                        <%= link_to '削除する', "/journals/#{journal.id}", method: :delete %>
                    <% end %>
              <%= simple_format(journal.title) %>
              <%= simple_format(journal.text) %>
            <% end %>
    </div>
</div>