<!-- ここまで旧プロフィール2019はじまり! -->
<!--<%= stylesheet_link_tag "stylesheets/users", :media => "all" %>-->
<!--<div class="row form user_profile">-->
<!--  <div class="col-lg-12">-->
    <!--% if nil? %>-->
     <!--% else %>-->
     <!--<div class="image" style="background-image: url(%= rails_blob_path(@user.image) %>) "></div>-->
     <!--% end %>-->
    <!--<h2>%= "#{@user.family_name}#{@user.first_name}" %><span>%= "#{@user.family_name_kana}#{@user.first_name_kana}" %></span></h2>-->
    <!--<p>%= "#{@user.nickname}" %></p>-->
    <!--<p>%= "#{@user.birthdate}" %></p>-->
    <!--<p>%= "#{@user.country}" %></p>-->
    <!--<p>%= "#{@user.city}" %></p>-->
    
    
<!--  <% if @user.image.nil? %>-->
    
   　
<!--   <div>No image</div>-->
<!--    <% else %>-->
<!--    <div class="image-profile" style="background-image: url(<%= rails_blob_path(@user.image) if @user.image.attached? %>) "></div>-->
<!--  <% end %>-->
  
  
<!--  </div>-->
<!--  <div class="section-11">-->
<!--    <div class="div-block-8">-->
<!--      <div class="w-layout-grid grid-2">-->
<!--        <h2>Last Name</h2>-->
<!--        <h2>First Name</h2>-->
<!--        <h2><%= "#{@user.family_name}" %></h2>-->
<!--        <h2><%= "#{@user.first_name}" %></h2>-->
<!--      </div>-->
<!--      <div class="div-block-3">-->
<!--        <h2>ニックネーム：</h2>-->
<!--        <h2 class="heading-16"><%= "#{@user.nickname}" %></h2>-->
<!--      </div>-->
<!--      <div class="div-block-4">-->
<!--        <h3>生年月日：</h3>-->
<!--        <h3 class="heading-17"><%= "#{@user.birth_date}" %></h3>-->
<!--      </div>-->
<!--      <div class="div-block-5">-->
<!--        <h3>国籍：</h3>-->
<!--        <h3 class="heading-18"><%= "#{@user.country}" %></h3>-->
<!--      </div>-->
<!--      <div class="div-block-6">-->
<!--        <h3>町：</h3>-->
<!--        <h3><%= "#{@user.city}" %></h3>-->
<!--      </div>-->
<!--      <div class="div-block-7">-->
<!--        <h3 class="heading-19">自己分析：</h3>-->
<!--        <p class="paragraph-3"><%= "#{@user.selfanalysis}" %></p>-->
<!--      </div>-->
<!--      <div class="div-block-7">-->
<!--        <h3 class="heading-19">自己紹介：</h3>-->
<!--        <p class="paragraph-3"><%= "#{@user.selfintroduction}" %></p>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>  -->
  
<!-- ここまで旧プロフィール2019おわり! -->

<!-- ここから新プロフィール2020はじまり! -->
<!--<div class="self-introduction-body">-->
  
<!--    <div class="private-section">-->
<!--      <%= link_to "プロフィール編集", edit_user_path(current_user) %>-->
<!--      <div class="col-lg-12">-->
<!--          <% if @user.image.nil? %>-->
<!--            <div>No image</div>-->
<!--          <% else %>-->
<!--          　<div class="image-profile" style="background-image: url(<%= rails_blob_path(@user.image) if @user.image.attached? %>) "></div>-->
<!--          <% end %>-->
<!--      </div>-->
      <!--<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" width="223" alt="" class="image-8">-->
<!--      <div class="name-position">-->
<!--        <div class="text-block-14">性 Last Name</div>-->
<!--        <div class="text-block-15">名 First Name</div>-->
<!--      </div>-->
<!--      <div class="name-section">-->
<!--        <div class="text-block-16"><%= "#{@user.family_name}" %></div>-->
<!--        <div class="text-block-17"><%= "#{@user.first_name}" %></div>-->
<!--      </div>-->
<!--      <div class="birthdate-area">-->
<!--        <div class="birthdate-position">ニックネーム</div>-->
<!--        <div class="birthdate-section"><%= "#{@user.nickname}" %></div>-->
<!--      </div>-->
<!--      <div class="birthdate-area">-->
<!--        <div class="birthdate-position">生年月日:</div>-->
<!--        <div class="birthdate-section"><%= "#{@user.birth_date}" %></div>-->
<!--      </div>-->
<!--      <div class="country-area">-->
<!--        <div class="country-position">お住まいの国:</div>-->
<!--        <div class="country-section"><%= "#{@user.country}" %></div>-->
<!--      </div>-->
<!--      <div class="city-area">-->
<!--        <div class="city-position">お住まいの町:</div>-->
<!--        <div class="city-section"><%= "#{@user.city}" %></div>-->
<!--      </div>-->
<!--      <div class="self-introduction-sentence">-->
<!--        <h2 class="self-introduction-title">自己分析：</h2>-->
<!--        <div class="self-introduction-section">-->
<!--          <p class="self-introduction-position"><%= "#{@user.selfanalysis}" %><br><br><br></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="public-section">-->
<!--      <div class="public-title-section">-->
<!--        <h1 class="public-title">自分：</h1>-->
<!--      </div>-->
<!--      <div class="public-sentence-section">-->
<!--        <div class="public-sentence-position"><%= "#{@user.selfintroduction}" %></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!-- ここまで新プロフィール2020おわり! -->

<!-- ここから新プロフィール20201108 PCver はじまり! -->
<div class="pc_area">
  <div class="section-profile-show">
    <%= link_to(edit_user_path(current_user)) do %>
    <div class="section-profile-button">
      <div class="profile-button">
        <div class="profile-image"></div>
        <div class="profile-word">
          <div class="profile-text">プロフィール編集</div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="profile-area">
      <h3 class="profile-heading">マイプロフィール</h3>
      <div class="profile-picture">
          <% if @user.image.nil? %>
            <div>No image</div>
          <% else %>
          　<div class="image-profile" style="background-image: url(<%= rails_blob_path(@user.image) if @user.image.attached? %>) "></div>
          <% end %>
      </div>
      <div class="profile-name">
        <div class="profile-last-name">性 Last Name</div>
        <div class="profile-first-name">名 First Name</div>
      </div>
      <div class="profile-name-var">
        <div class="profile-last-name-var"><%= "#{@user.family_name}" %></div>
        <div class="profile-first-name-var"><%= "#{@user.first_name}" %></div>
      </div>
      <div class="profile-name-var">
        <div class="profile-last-name-var"><%= "#{@user.family_name_kana}" %></div>
        <div class="profile-first-name-var"><%= "#{@user.first_name_kana}" %></div>
      </div>
      <div class="profile-birthdate">
        <div class="profile-birthdate-text">生年月日:</div>
        <div class="profile-birthdate-var"><%= "#{@user.birth_date}" %></div>
      </div>
      <div class="profile-birthdate">
        <div class="profile-birthdate-text">性別:</div>
        <div class="profile-birthdate-var"><%= "#{@user.sex}" %></div>
      </div>
      <div class="profile-birthdate">
        <div class="profile-birthdate-text">職業:</div>
        <div class="profile-birthdate-var"><%= "#{@user.occupation}" %></div>
      </div>
      <div class="profile-country">
        <div class="profile-country-text">お住まいの国:</div>
        <div class="profile-country-var"><%= "#{@user.country}" %></div>
      </div>
      <div class="profile-country">
        <div class="profile-country-text">お住まいの県:</div>
        <div class="profile-country-var"><%= "#{@user.prefecture}" %></div>
      </div>
      <div class="profile-city">
        <div class="profile-city-text">お住まいの市町村区:</div>
        <div class="profile-city-var"><%= "#{@user.city}" %></div>
      </div>
      
      <p>extraversion</p>
        <% if @user.extraversion==1 then %>
        おしゃべり好きで他人との付き合いに刺激を求める
        <% elsif @user.extraversion==2 then %>
        よそよそしくて自己完結
        <% else %>
        どちらでもない
        <% end %>
      <p>agreeableness</p>
        <% if @user.agreeableness==1 then %>
        協力的で争いや対立を避ける
        <% elsif @user.agreeableness==2 then %>
        競争力があり挑戦的で議論好き
        <% else %>
        どちらでもない
        <% end %>
      <p>openness</p>
        <% if @user.openness==1 then %>
        想像力豊かで革新的
        <% elsif @user.openness==2 then %>
        保守的・冷静・慎重
        <% else %>
        どちらでもない
        <% end %>
      <p>conscientiousness</p>
        <% if @user.conscientiousness==1 then %>
        責任感が強い・セルフコントロールできる・達成力も高い
        <% elsif @user.conscientiousness==2 then %>
        感情的で直感的に行動
        <% else %>
        どちらでもない
        <% end %>
      <p>neuroticism</p>
        <% if @user.neuroticism==1 then %>
        周囲の人への感度が高く、空気を読み、繊細な気配りができる
        <% elsif @user.neuroticism==2 then %>
        感情が安定していて悩むことやストレスを感じることが比較的少ない
        <% else %>
        どちらでもない
        <% end %>
          <!--<label>%= @user.radio_button_tag :extraversion, "1" %>コミュニケーション力に優れる</label>-->
          <!--<label>%= @user.radio_button_tag :extraversion, "0" %>どちらでもない</label>-->
          <!--<label>%= @user.radio_button_tag :extraversion, "2" %>冷静</label>-->
      <div class="profile-explain">
        <div class="profile-explain-title">自分について:</div>
        <p class="profile-explain-sentence"><%= "#{@user.selfanalysis}" %></p>
      </div>
    </div>
    <div class="show-profile-area">
      <h3 class="show-profile-title">公開情報</h3>
      <div class="show-profile-nickname">
        <div class="show-profile-nickname-word">ニックネーム:</div>
        <div class="show-profile-nickname-var"><%= "#{@user.nickname}" %></div>
      </div>
      <div class="show-profile-text">
        <div class="show-profile-heading">自己紹介:</div>
      </div>
      <p class="show-profile-paragraph"><%= "#{@user.selfintroduction}" %></p>
    </div>
  </div>
</div>
<!-- ここまで新プロフィール20201108 PCver おわり! -->

<!-- ここから新プロフィール20210107 Smartphonever はじまり! -->
<div class="phone_area">
  <div class="sp_introduction_mainbody">
      <%= link_to(edit_user_path(current_user)) do %>
        <div class="sp_introduction_edit">
          <div class="sp_intro_button">
            <div class="sp_intro_image"></div>
            <div class="sp_intro_word">
              <div class="sp_intro_text">プロフィール編集</div>
            </div>
          </div>
        </div>
      <% end %>
    <div class="sp_myprofile_section">
      <div class="sp_myprofile_title">
        <h3 class="sp_myprofile_title_text">マイプロフィール</h3>
      </div>
      <div class="sp_myprofile_image">
          <% if @user.image.nil? %>
            <div>No image</div>
          <% else %>
          　<div class="sp_myprofile_image_area" style="background-image: url(<%= rails_blob_path(@user.image) if @user.image.attached? %>) "></div>
          <% end %>
      </div>
      <div class="sp_myproile_name">
        <div class="sp_myprofile_lastname">
          <div class="sp_myprofile_lastname_word">性 Last Name</div>
          <div class="sp_myprofile_lastname_var">
            <div class="sp_myprofile_lastname_var_word"><%= "#{@user.family_name}" %></div>
          </div>
          <div class="sp_myprofile_lastname_kana_var">
            <div class="sp_myprofile_lastname_kana_var_word"><%= "#{@user.family_name_kana}" %></div>
          </div>
        </div>
        <div class="sp_myprofile_firstname">
          <div class="sp_myprofile_firstname_word">名 First Name</div>
          <div class="sp_myprofile_firstname_var">
            <div class="sp_myprofile_firstname_var_word"><%= "#{@user.first_name}" %></div>
          </div>
          <div class="sp_myprofile_firstname_kana_var">
            <div class="sp_myprofile_firstname_kana_var_word"><%= "#{@user.first_name_kana}" %></div>
          </div>
        </div>
      </div>
      <div class="sp_profile_edit">
        <div class="sp_profile_edit_name">
          <div class="sp_birthdate_name">
            <div class="sp_birthdate_word">生年月日:</div>
          </div>
          <div class="sp_country_name">
            <div class="sp_country_word">お住まいの国: </div>
          </div>
          <div class="sp_city_name">
            <div class="sp_city_word">お住まいの町: </div>
          </div>
        </div>
        <div class="sp_profile_edit_var">
          <div class="sp_birthdate_var">
            <div class="sp_birthdate_text"><%= "#{@user.birth_date}" %></div>
          </div>
          <div class="sp_country_var">
            <div class="sp_country_text"><%= "#{@user.country}" %></div>
          </div>
          <div class="sp_city_var">
            <div class="sp_city_text"><%= "#{@user.city}" %></div>
          </div>
        </div>
      </div>
      <div class="sp_selfintro_section">
        <div class="sp_selfintro_title">自分について:</div>
        <div class="sp_selfintro_sentence"><%= "#{@user.selfanalysis}" %></div>
      </div>
    </div>
    <div class="sp_myintro_section">
      <div class="self_myintro_title">
        <h3 class="self_myintro_heading">Heading</h3>
      </div>
      <div class="self_myintro_nickname">
        <div class="self_myintro_nickname_word">
          <div class="self_myintro_nickname_text">ニックネーム:</div>
        </div>
        <div class="self_myintro_nickname_var">
          <div class="self_myintro_nikcname_real"><%= "#{@user.nickname}" %></div>
        </div>
      </div>
      <div class="self_myintro_sentence_area">
        <div class="self_myintro_headings">自己紹介:</div>
        <div class="self_myintro_word_var"><%= "#{@user.selfintroduction}" %></div>
      </div>
    </div>
  </div>
</div>
<!-- ここまで新プロフィール20210107 Smartphonever おわり! -->