<div class="mypage">
    <div class="mypage_contents">
            <% if user_signed_in? && current_user.id == journal.user_id %>
                <%= link_to '編集する', "/journals/#{journal.id}/edit", method: :get %>
                <%= link_to '削除する', "/journals/#{journal.id}", method: :delete %>
                <%= link_to '詳細', "/journals/#{journal.id}", method: :get %>
            <% end %>
            <%= simple_format(journal.title) %>
            <%= simple_format(journal.text) %>
    </div>
</div>