<!--<div class="contents row">-->
<!--  <%= form_tag('/journals', method: :post) do %>-->
<!--    <h3>-->
<!--      日記を書き込む-->
<!--    </h3>-->
<!--    <input type="text" name="title" placeholder="Title">-->
<!--    <textarea name="text" placeholder="text" rows="10" cols="30"></textarea>-->
<!--    <input type="submit" value="SENT">-->
<!--  <% end %>-->
<!--</div>-->




<!-- ここから下がマイページ2019ver -->
<!--<div class="section-100">-->
    <!--<div class="div-block-91">-->
    <!--  %= form_tag('/journals', method: :post) do %>-->
    <!--  <div class="div-block-11">-->
        
    <!--    <h2>日記を書き込む</h2>-->
    <!--  </div>-->
    <!--  <div>-->
    <!--    <div class="form-block-2 w-form">-->
          
    <!--        <div class="div-block-13"><label for="name">Title</label><input type="text" class="w-input" maxlength="256" name="title" data-name="Name" id="name" placeholder="Title" style="background-color:white"></div>-->
    <!--        <div class="div-block-13"><label for="email">Sentence</label><textarea placeholder="Example Text" maxlength="5000" id="field" name="text" class="w-input" style="background-color:white"></textarea></div>-->
    <!--        <div class="div-block-12"><label>Image</label><textarea placeholder="Example Text" maxlength="5000" id="field-2" name="field-2" class="w-input" style="background-color:white"></textarea></div><label class="w-checkbox"><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input"><span class="w-form-label">Checkbox</span></label>-->
    <!--        <div class="div-block-10"><input type="submit" value="Submit" data-wait="Please wait..." class="w-button"></div>-->
          
          
    <!--    </div>-->
    <!--  </div>-->
    <!--  % end %>-->
    <!--</div>-->
 
<!--  <div class="div-block-90">-->
<!--              <div class="div-block-11">-->
<!--                <h2>ブログを投稿する</h2>-->
<!--              </div>-->
<!--              <div>-->
<!--                <div class="form-block-2 w-form">-->
<!--                   <%= form_for @journal, html: {multipart: true} do |f| %>-->
<!--                   <div class="div-block-13"><%= f.text_field :title, placeholder: 'title' %></div>-->
<!--                   <div class="div-block-13"><%= f.text_area :text, placeholder:'text' %></div>-->
<!--                   <div class="div-block-12"><%= f.label :image %></div>-->
<!--                   <div class="div-block-120">-->
<!--                   <%= f.fields_for :journal_photos do |p| %>-->
<!--                    <div class="field">-->
<!--                      <%= p.label :photo %><br>-->
<!--                      <%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %>-->
<!--                      <%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %>-->
<!--                    </div>-->
<!--                     <% end %>-->
<!--                   </div>-->
                   <!--<div class="check_box" >          -->
                   <!--   %= f.collection_check_boxes(:emotion_ids, Emotion.all, :id, :feeling) do |b| %>-->
                   <!--       %= b.label {b.check_box + b.text} %>-->
                   <!--   % end %>-->
                   <!--</div>-->
<!--                   <div class="div-block-10"><%= button_tag type: "submit", class: "btn btn--block" do %>投稿する-->
<!--                    <% end %>-->
<!--                   </div>-->
<!--                   <% end %>-->
<!--                </div>-->
<!--              </div>-->
<!--    </div>-->
<!--</div>-->
<!-- ここから上がマイページ2019ver -->



<!-- ここから下がマイページ2020ver new -->
  <!--<div class="journal-write-section-body">-->
  <!--  <div class="journal-write-section">-->
  <!--    <%= form_for @journal, html: {multipart: true} do |f| %>-->
  <!--    <div class="journal-write-title">-->
  <!--      <h1 class="heading-journal-title"><%= f.text_field :title, placeholder: 'title', style:'width: 100%;' %></h1>-->
  <!--    </div>-->
      
  <!--    <div class="journal-explain-sentence">-->
  <!--      <div class="journal-explain-sentence-word">250文字以上、2000文字以内に記入してください。</div>-->
  <!--    </div>-->
  <!--    <div class="journal-write-sentence">-->
  <!--      <p><%= f.text_area :text, placeholder:'text', style:'height: 68vh; width: 100%;', minlength: "250" ,maxlength: "2000" %></p>-->
  <!--    </div>-->
  <!--    <div class="journal-input-photo">-->
  <!--      <%= f.fields_for :journal_photos do |p| %>-->
  <!--      <div class="journal-photo-sentence">-->
  <!--        <div class="journal-photo-sentence-words">ブログ内容の写真を選択してください。（2枚まで)</div>-->
  <!--      </div>-->
  <!--      <div class="journal-photo-input-sentence">-->
  <!--        <div class="journal-sentence-left">-->
  <!--          <div class="journal-left-words"><%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %></div>-->
  <!--        </div>-->
  <!--        <div class="journal-sentence-right">-->
  <!--          <div class="journal-right-words"><%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %></div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <% end %>-->
  <!--    </div>-->
  <!--    <div class="journal-form-button w-form">-->
  <!--      <%= button_tag type: "submit", class: "btn btn--block" do %>投稿する-->
  <!--                  <% end %>-->
  <!--    </div>-->
  <!--    <% end %>-->
  <!--  </div>-->
  <!--</div>-->
<!-- ここから上がマイページ2020ver new -->


<!-- ここから下がマイページ20201108ver new -->
<%= form_for @journal, html: {multipart: true} do |f| %>
 <div class="section-write-journal">
  
    <div class="div-block-write-journal">
       
      <div class="form-block-write-journal w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="form-write-journal">
          <div class="write-journal-title">キーワードを含めて感想文のタイトルを記入してください。</div>
          <p class="write-journal-title-word"><%= f.text_field :title, placeholder: 'title', style:'width: 100%;' %></p>
          <div class="write-journal-text">250文字以上で感想文を記入してください。</div>
          <p class="write-journal-paragraph"><%= f.text_area :text, placeholder:'text', style:'height: 52vh; width: 100%;', minlength: "250" %></p>
          <!--<div class="div-pick-picture">-->
          <!--    <div class="pick-picture-title">感想文の内容に関する写真を選択してください。（２枚まで）</div>-->
          <!--    <div class="pick-photos">-->
          <!--      <%= f.fields_for :journal_photos do |p| %>-->
          <!--        <div class="pick-left">-->
          <!--          <%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %>-->
          <!--        </div>-->
          <!--        <div class="pick-right">-->
          <!--          <%= p.file_field :photo, multiple: true, name: "journal_photos[photo][]", class: "upload-image" %>-->
          <!--        </div>-->
          <!--      <% end %>-->
          <!--    </div>-->
              
          <!--</div>-->
        </form>
        <div class="w-form-done"></div>
        <!--<div class="w-form-fail">-->
        <!--  <div>Oops! Something went wrong while submitting the form.</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="submit-write-journal">
      <%= button_tag type: "submit", class: "btn btn--block" do %>
      <div class="button-submit-journal">
        <div class="write-left-journal-photo"></div>
        <div class="write-right-journal-text">
          <div class="write-journal-word">下書き保存</div>
        </div>
      </div>
      <% end %>
    
    </div>
    
  </div>
<% end %>
<!-- ここから上がマイページ20201108ver new -->
